h2{
    display: flex;
    justify-content: center;
}

#line{
    height: 1px;
    border-bottom: 1px solid black;
    width: 100%;
}

#title{
    font-size: larger;
    color: black;
}

#edit{
    color: white;
    background-color: rgb(29, 22, 232);
}