<h3>Add Recipe</h3>
<form id="form" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <label for="title">Title</label>
  <input class="input" id="title" formControlName="title" type="text">

  <label for="ingredients">Ingredients</label>
  <input class="input" id="ingredients" formControlName="ingredients" type="text">

  <label for="instructions">Instructions</label>
  <textarea class="input" id="instructions" formControlName="instructions"></textarea>

  <button id="save" type="submit">Save</button>
</form>